# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# intellij configuration files
*.iml
*.xml
.idea

# eclipse configuration files
.classpath
.project